{% extends 'layout.html' %}

{% block title %}
무제 | 로그인
{% endblock %}

{% block content %}

<div class="login-box">
    <div class="login-box__content">
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="login-area">
                <input id="login-input" type="text" placeholder="아이디" name="username">
            </div>
            <div class="login-area">
                <input id="login-input" type="password" placeholder="패스워드" name="password">
            </div>
            <input id="login-button" type="submit" value="로그인">
        </form>
    </div>
</div>
{% endblock %}